.modalDetailsHours {
  font-size: 12px;
  width: 100%;
  max-width: 340px;
}

.modalDetailsHours td {
  padding-top: 6px;
}

.modalDetailsHours tr {
  color: #3C617F;
  font-size: 14px;
}

.modalDetailsHours .modalDetailsHoursRange {
  color: #02182B;
  font-weight: 500;
}

.modalDetailsHoursRange,
.modalDetailsHoursClosed {
  text-align: right;
}

.modalDetailsHoursClosed {
  color: #ff4c4c;
}

.modalDetailsInfoTitle {
  font-weight: 500;
  color: #666666;
  margin-top: 0;
}
